[submodule "vendor/gattlib"]
	path = vendor/gattlib
	url = https://github.com/labapart/gattlib.git
[submodule "vendor/sobjectizer"]
	path = vendor/sobjectizer
	url = https://github.com/Stiffstream/sobjectizer.git
